<head>
 <link rel="stylesheet" href="../static/index.css">
</head>

<body>

<div class="star">
  <img src="/static/images/star.png">
</div>

<div class="content-form">
<form action="" method="POST" novalidate enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="cell">
    {{ form.atlas.label }}: {{ form.atlas }}
  </div>
  <div class="cell">
    {{ form.method.label }}: {{ form.method }}
  </div>
  <div class="cell">
    Number of markers per atlas cell type: {{ form.nfeact }}
  </div>
  <div class="cell">
    Number of overdispersed features: {{ form.nfeaod }}
  </div>
  <div class="cell">
    Number of principal components: {{ form.npcs }}
  </div>
  <div class="cell">
    Number of graph neighbors: {{ form.nnei }}
  </div>
  <div class="cell">
    Number of graph neighbors out of atlas nodes: {{ form.nneia }}
  </div>
  <div class="cell">
    Resolution parameter: {{ form.respar }}
  </div>
  <div class="cell">
    Count table to annotate (each row is a gene, TSV or loom format): {{ form.fileupload }}
  </div>
  <div class="cell submit">
    {{ form.submit() }}
  </div>
</form>
</div>

</body>
