<head>
 <link rel="stylesheet" href="../static/progress.css">
</head>

<body>

<div class="star">
  <img src="/static/images/ursa.png">
</div>

<div class="content-form">
  <div id="result">
    <p>
    northstar is running:
    </p>
    
    <p>
    JOB ID: {{ jobid }}
    </p>
    
    <p>
    ENDPOINT: {{ endpoint }}
    </p> 
  </div>
</div>


<script>

let intervalId = window.setInterval(function() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    var response = xhttp.responseText;
    if (response == "start") {
      document.getElementById("result").innerHTML = "<div class=\"result\">Starting...</div>";
    }
    else if (response == "cell types") {
      document.getElementById("result").innerHTML = "<div class=\"result\">Model ready, computing cell types...</div>";
    } else if (response == "embed") {
        document.getElementById("result").innerHTML = "<div class=\"result\"><div>Cell types ready, computing embedding...</div><div class=\"linkToDownload\"><a href=\"/results/results_{{ jobid }}.tsv\">Download</a></div></div>";
    } else if (response == "plot") {
        document.getElementById("result").innerHTML = "<div class=\"result\"><div>Embedding ready, plotting...</div><div class=\"linkToDownload\"><a href=\"/results/results_{{ jobid }}.tsv\">Download</a></div></div>";

    } else if (response == "output") {
        document.getElementById("result").innerHTML = "<div class=\"result\"><div>Plot ready, writing output file...</div><div class=\"linkToDownload\"><a href=\"/results/results_{{ jobid }}.tsv\">Download</a></div></div>";
    } else if (response != "") {
      document.getElementById("result").innerHTML = "<div class=\"result\">Result:</div><div>" + response + "</div>";
      clearInterval(intervalId);
    }
    return;
  };
  xhttp.open("GET", "{{ endpoint }}", true);
  xhttp.send();
}, 1000);

</script>

</body>
