<head>
 <link rel="stylesheet" href="../static/progress.css">
</head>

<body>

<div class="star">
  <img src="/static/images/ursa.png">
</div>

<div class="content-form">
  <div id="result">
    <p>
    northstar is running:
    </p>
    
    <p>
    JOB ID: {{ jobid }}
    </p>
    
    <p>
    ENDPOINT: {{ endpoint }}
    </p> 
  </div>
</div>


<script>

let intervalId = window.setInterval(function() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    var response = xhttp.responseText;
    if (response != "") {
      document.getElementById("result").innerHTML = "<div class=\"result\">Result:</div><div>" + response + "</div>";
      clearInterval(intervalId);
    }
    return;
  };
  xhttp.open("GET", "{{ endpoint }}", true);
  xhttp.send();
}, 1000);

</script>

</body>
